$font-size : 14px;
$type-common : 'Rubik', Helvetica, Roboto, Arial, sans-serif !important;
$type-common-thin-weight: 300;
$type-common-medium-weight: 500;
$type-common-bold-weight: 700;
$type-title : 'Nunito', Helvetica, Roboto, Arial, sans-serif !important;
$type-title-thin-weight: 200;
$type-title-medium-weight: 400;
$type-title-bold-weight: 700;
